p{
    text-align: center;
 }

h1{
    text-align: center;
}

button{
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
}

a{
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
}

div{
    text-align: center;
    align-self: center;
    align-items: center;
    align-content: center;
}